body{
    background-image: url("a.jpg")
}
.box{
    border: 7px solid green;
    margin-top: 70px;
    margin-left:500px;
    background-color: blue;
    width: 600px;
    height: 600px;
}
.contact{
    font-size: 35px;
    padding-top: 40px;
    text-align: center;
    text-decoration: double;
    color: whitesmoke;
    
}
p{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    color: white;
    text-decoration-color: white;
    font-size: 13px;
}
.name{
    text-align: center;
    font-size: 12px;
    color:blue;
}
.line1{
    align-items: center ;
    text-align: center;
    border: 0.1px solid white ;
    width: 300px;

}
.input{
    margin-top: 70px;
    display: flex;
    flex-basis:auto;
}
label{
    margin-left: 70px;
    color: lightblue;
    font-size: 13px;
}
input{
         
    width: 100%;
    background: none;
    border: 0px;
    padding: 0px;

    border-style: dashed;
    border-bottom: 1px solid white;
    outline: none ;
    margin-left: 73px ;
}
h3{
    width: 40px;
    height: 11px;
}
h2{
    width: 60px;
    height: 50px;
}
button{
    background-color: blue;
    color: white;
    text-align: center;
    width: 70px;
    height: 30px;
    margin-left: 270px;
    border: 2px solid white;
}